Package: com.galacticdev.streaknotifications
Name: StreakNotifications
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Show how long until snapchat streak expires when you get a snapchat notification.
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
Version: 0.2-1-5+debug
Installed-Size: 476
